<a href="/quizes">Volver</a>
<ul id="estadisticas">
	<li>Número de preguntas: <%= statistics.totalPreguntas %></li>
    <li>Número de comentarios totales: <%= statistics.totalComentarios %></li>
    <li>Número medio de comentarios por pregunta: <%= statistics.comentariosPregunta %></li>
    <li>Número de preguntas sin comentarios: <%= statistics.preguntasSinComentario %></li>
    <li>Número de preguntas con comentarios: <%= statistics.preguntasConComentario %></li>
</ul>

